body {
  margin: 0;
  padding: 0;
  background-color: rgb(2, 2, 2);
  color: white;
  padding: 20px 160px;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

body::before {
  content: "";
  background: rgb(49, 247, 115);
  width: 118%;
  height: 120%;
  position: absolute;
  top: 0;
  left: -650px;
  transform: rotate(-70deg);
}

body::after {
  content: "Nike";
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: rgb(65, 54, 54);
  font-size: 210px;
  opacity: 0.2;
}

.logo {
  width: 80px;
  position: relative;
}

h1 {
  font-size: 80px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 16px;
}

.botão-carrinho {
  background: rgba(28, 243, 136, 0.979);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.6s;
}

.botão-carrinho:hover {
  background: rgb(3, 158, 179);
  opacity: 0.8;
}

.imagem-tenis {
  width: 500px;
  transform: rotate(-25deg);
  margin-right: -80px;
  transition: all 0.5s ease;
  animation: flutuar 3s ease-in-out infinite;
}

.caixa-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75%;
  position: relative;
  z-index: 1;
}

.caixa-texto {
  max-width: 500px;
}

.caixa-botões {
  z-index: 2;
  position: fixed;
  bottom: 50px;
  display: flex;
  gap: 10px;
}

.botões {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.botões:active {
  opacity: 0.8;
}

.preto {
  background: rgb(0, 0, 0);
}

.cinza {
  background: rgb(121, 120, 120);
}

.cinzaa {
  background: rgb(87, 87, 87);
}

.caixa-botões img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.imagem-tenis.nike3 {
  width: 350px;
  transform: rotate(-23deg);
  margin-right: -20px;
  margin-bottom: -70px;
  filter: drop-shadow(0 12px 35px rgba(121, 120, 120, 0.9));
}

.imagem-tenis.nike4 {
  width: 250px;
  transform: rotate(-10deg);
  margin-right: -5px;
  filter: drop-shadow(0 12px 35px rgba(88, 88, 88, 0.9));
}

/* ----------------------------- */
/*       ⚙️ RESPONSIVIDADE       */
/* ----------------------------- */

/* Tablet - entre 769px e 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    padding: 20px 40px;
    overflow: hidden;
  }

  body::before {
    left: -590px;
    height: 110%;
    width: 130%;
    position: absolute;
    top: -95px;
    left: -590px;
  }

  body::after {
    font-size: 200px; /* diminui o tamanho do texto Nike */
    top: 52%; /* ajusta a posição vertical */
    left: 54%;
    opacity: 0.18; /* deixa mais leve */
  }

  .logo {
    width: 80px;
    margin-top: 20px;
  }

  h1 {
    font-size: 60px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  .imagem-tenis {
    width: 400px;
    margin-right: -48px;
  }

  .imagem-tenis.nike3 {
    width: 300px;
    margin-right: -15px;
    margin-bottom: -35px;
  }

  .imagem-tenis.nike4 {
    width: 200px;
    margin-right: 14px;
  }
}


@media (max-width: 768px) and (min-width: 400px)  {
  body {
    padding: 20px 20px;
    overflow: hidden;
  }

  body::before {
    left: -600px;
    height: 110%;
    width: 140%;
    position: absolute;
    top: -80px;
  }

  body::after {
    font-size: 150px; /* diminui o tamanho do texto Nike */
    top: 50%; /* ajusta a posição vertical */
    left: 55%;
    opacity: 0.15; /* deixa mais leve */
  }

  .logo {
    width: 80px;
    margin-top: 15px;
  }

  h1 {
    font-size: 50px;
  }

  h4 {
    font-size: 30px;
  }

  p {
    font-size: 12px;
  }

  .imagem-tenis {
    width: 300px;
    margin-right: -40px;
  }

  .imagem-tenis.nike3 {
    width: 210px;
    margin-right: -10px;
    margin-bottom: -25px;
  }

  .imagem-tenis.nike4 {
    width: 140px;
    margin-right: 20px;
  }
}
